$font-family: "Nunito", sans-serif;

.Section_Topbar {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .logose {
    padding: 0.5em;
    padding-left: 1.5em;
    cursor: pointer;
    img {
      position: relative;
      width: 50% !important;
    }
  }
  .middler {
    padding: 0.5em;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    input {
      position: relative;
      width: 400px;
      height: 35px;
      font-size: 14px;
      line-height: 16px;
      align-self: center;
      /* #545F7D */
      font-family: $font-family;
      background: hsl(0, 0%, 100%);
      opacity: 0.2;
      outline: none;
      padding: 1em;
      border: 1px solid #213f7d;
      box-sizing: border-box;
      border-radius: 8px;
    }
    button {
      position: absolute;
      background: #39cdcc;
      height: 35px;
      width: 10%;
      border: none;

      right: 0;
      align-self: center;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      cursor: pointer;
    }
  }
  .righter {
    position: relative;
    display: flex;
    flex-direction: row;
    padding-right: 1.5em;
    justify-content: center;
    height: 100%;
    div {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0.5em;
      font-size: 14px;
      color: #213f7d;
      cursor: pointer;
      img {
        width: 80%;
      }
      .round {
        border-radius: 50%;
      }
    }
  }
  @media screen and (max-width: 768px) {
    .middler {
      position: relative;
      display: none;
      visibility: hidden;
    }
    .righter {
      div {
        margin: 0 !important;
      }
    }
  }
}
